.navbar{
    display: flex;
    width: 100%;
    position: fixed;
    /* z-index: 10; */
    background-color: white;
}
.astha{
    margin-top:1vh ;
    margin-left: 2%;
}
.administor{
    margin-top: 2vh;
    margin-left: 80%;
}